PORT=5000

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=ciphersqlstudio
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
MONGO_URI=mongodb+srv://username_db_user:password@cluster0.4nbxds9.mongodb.net/ai_interviewer?retryWrites=true&w=majority&appName=Cluster0

GROQ_API_KEY=YOUR_API_KEY_HERE
